/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
    display: block;
}

/* Green button da riutilizzare più volte nella pagina */
.green-button{
    background-color: #7cbb02;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/* Sfondo grigio da riutilizzare */
.bg-gray{
    background-color: #d3d3d3;
}

.gray-text{
    color: #818181;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* END COMMON */

/* HEADER */
header{
    height: 420px;
    background-color: #0b325a;
    background-image: url(../img/background-header.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 114% 107%;
}

/* Nav */
nav{
    padding-top: 15px;
}

.col{
    float: left;
}

.logo{
    width: 10%;
}

.menu-center{
    width: 50%;
    padding-left: 40px;
}

.menu-right{
    width: 40%;
    text-align: right;
}

.menu{
    list-style-type: none;
    padding-top: 6px;
}
.menu li{
    display: inline-block;
    margin-left: 10px;
}
.menu li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}
.menu li a:hover{
    color: orange;
}

.login{
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 5px;
}
.menu .green-button{
    padding: 7px 10px;
}

/* Testo header */
.title{
    color: white;
    margin-top: 150px;
    width: 50%;
}
header h1{
   font-size: 35px; 
   padding-bottom: 30px;
}
/* END HEADER */

/* MAIN */
/* Sezione con titolo */
.title-section{
    text-align: center;
    padding: 30px 0;
}
.title-section h2{
    font-size: 21px;
    padding-bottom: 10px;
}

/* Sezione con le tre colonne */
main .col-left{
    width: 30%;
}
main .col-center{
    width: 30%;
    margin: 0 5%;
}
main .col-right{
    width: 30%;
}

.img-container img{
    height: 120px;
}

.content .green-title{
    color: #7cbb02;
    text-align: center;
    line-height: 25px;
    padding: 20px 0;
}
.content p{
    padding-top: 15px;
}
.content hr{
    width: 20%;
    margin: auto;
}

.columns{
    padding: 30px 0;
    border-bottom: 1px solid #d3d3d3;
}
/* END MAIN */

/* FOOTER */
.help{
    position: fixed;
    bottom: 0;
    right: 20%;
    z-index: 1;
}
.help .green-button{
    padding: 10px;
    border-radius: 10% 10% 0 0;
}
/* END FOOTER */
